@mixin circle-animation ($speed: .8s) {
  animation: circle $speed linear infinite;
  
  @keyframes circle {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
}

@mixin modify-background ($color, $percent: 50%) {
  &:hover:not(:disabled) {
    background-color: color-mix(in srgb, $color $percent, white);
  }
  
  &:active {
    background-color: color-mix(in srgb, $color $percent, black);
  }
}