:root {
  --background: #1A1A1A;
  --border: #e7e7e7;
  --accent: #BF3604;
  --contrast: #F27405;
  --darkest: #590202;
  --text-base: #e7e7e7;
  --text-disabled: #8b8888;

  --border-radius: 6px;
  --inner-padding-inline: 16px;
  --inner-padding-block: 12px;
  --icon-size: 16px;
  --icon-size-big: 24px;
}